.hidden {
  display: none;
}

.menu-list {
  background-color: rgb(0, 0, 33);
  border: 2px solid gray;
  border-radius: 3px;
}

#popupMenu {
  position: absolute;
  top: 50px;
  right: 10px;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 4px 6px rgba(0, 0, 0, 0.2);
}

#popupMenu a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
}

#popupMenu a:hover {
  color: rgb(146, 146, 232);
}
